// #firstTask
// {
//     height: 20vh!important;
//     width: 100vw!important;
//     ul
//     {
//         width: 40vw!important;
//         height: 10vh!important;
//         background-color: black!important;
//         li
//         {
//             cursor: pointer;
//         }
//         a
//         {
//             color: lightgray!important;
//         }
//     }
//     .active
//     {
//         padding: 6px 59px!important;
//         background-color: white!important;
//     }
// }




// #secondTask
// {
//     height: 50vh!important;
//     width: 100vw!important;
//     background-color: orange!important;
//     ul
//     {
//         width: 60vw!important;
//         height: 15vh!important;
//         background-color: red!important;
//         li
//         {
//             cursor: pointer;
//         }
//         li.active
//         {
//             padding: 35px;
//             background-color: white!important;
//         }
//         a
//         {
//             color: lightgray!important;
//         }
//     }
//     .info
//     {
//         left: 0;
//         opacity: 0;
//     }
//     .info.active
//     {
//         padding: 35px;
//         background-color: white!important;
//         opacity: 1;
//     }
// }




// #thirdTask
// {
//     height: 28vh!important;
//     width: 100vw!important;
//     li
//     {
//         width: 2vw;
//         height: 7vh;
//         cursor: pointer;
//     }
//     .red {background-color: red;}
//     .green {background-color: green;}
//     .yellow {background-color: yellow;}
//     .blue {background-color: blue;}
// }